body{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-left{
    display: flex;
    width:56px;
    height: 72px;
    background: #D5966C;
    position: absolute;
}

.button-left{
    height: 24px;
    width: 8px;
    background: #D5966C;
    border: none;
    padding: 23px 10px;
}

.icon-left{
    width: 8px;
    background: #D5966C;

}

.div-back{
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 72px;
    background: #151515;
    margin-left: 30px;
    

}

.button-back{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    background: #151515;
    color: #FFFFFF;
    width: 208px;
    border: none;
    padding-top:  20px;
}

.div-our{
    display: flex;
    flex-direction: column;
    background: #151515;
    width:375px;
    height: 493px;
    padding-left: 16px;
    box-sizing: border-box;
    
}

.map-tab{
    display: none;
}

.our-h1{
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: #FFFFFF;

}

.our-h3{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: #D5966C;
}

.newpost-p{
    font-family: 'Outfit';
        font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.opened-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

footer{
    display: flex;
    flex-direction: column;
    background: #D5966C;
    gap: 49px;
    padding-top: 30px;
    box-sizing: border-box;
    padding: 16px;
   
}  

.logo-dark{
    width: 110px;
    height: 40px;
}

.modern-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
}

.div-icons{
    background: #D5966C;
}

.icons{
    background: #D5966C;
    border: none;
}

@media(min-width: 768px){

.map-mob{
    display: none;

}   

.map-tab{
    display: block;
}

.top-div{
    display: flex;
}

.div-our{
    width: 768px;
    flex-direction: row;
    justify-content: space-around;
}

.opened-p{
    width: 398px;
}

.div-left{
    left: 65px;
    /* positcion */
}

footer{
    flex-direction: row;
}

.modern-p{
    width: 281px;
}

}