body{ 
    overflow-x: hidden;
}



header{
    /* max-width:375px; */
    display: flex;
    flex-direction: column;
    gap: 32px;
}
   

.img-hero{
    width: 376px;
    height: 240px;
    object-fit: cover;
}

.hero-tab{
    display: none;
}

.hero-des{
    display: none;
}

.black-div{
    display: none;
}

.modern-h1{
    font-family: 'Big Shoulders Display',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    color: #151515;
    padding-top: 32px;
    margin: 16px;
    max-width: 343px;

}

.header-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    padding-top: 32px;
    margin: 16px;
    max-width: 343px;
}

.header-button{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #151515;



}

.location-div{
    display: flex;
    padding: 16px;
}

.div-right-icon{
    display: flex;
    flex-direction: column;
    background-color:#D5966C; 
    width: 56px;
    height: 72px;
    justify-content: space-evenly;
    align-items: center;
}


.icon-right{
    width: 8px;
   
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    max-width: 343px;
    display: flex;
    flex-direction: column;
    
    
}

.grid-1{
    width: 343px;
    height: 320px;
    margin: 16px;
}

.grid1-tab{
    display: none;
}

.your-h2{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: #151515;
    padding-top: 25px;
    margin: 16px;
    max-width: 343px;
}

.wander-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    padding-top: 21px;
    width: 343px;
    text-transform: uppercase;
    margin: 16px;
}

.grid2-tab{
    display: none;
}

.grid-2{
    padding-top: 32px;
    width: 343px;
    height: 480px;
    margin: 16px;
}

.grid3-tab{
    display: none;
    
}

.grid-3{
    padding-top: 16px;
    width: 343px;
    height: 200px;
    object-fit: cover;
    margin: 16px;
}

.div-come{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 343px;
    height: 293px;
    background: #151515;
    padding-top: 16px;
    margin: 16px;
    padding: 24px;
}

.come-h3{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px; 
    color: #FFFFFF;
    max-width: 294px;

}

.come-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 294px;
}


.footer-div{
display: flex;
flex-direction: column;
padding-top: 120px;
background: #151515;
width: 375px;
padding-top: 120px;


}

.footer-container{
    display: flex;
    flex-direction: column;
    background: #151515;
    padding-top: 37px;
    gap: 60px;
    padding: 32px;
}

.footer-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 311px;
}

.logo-light{
    display: flex;
    flex-direction: column;
    width: 110px;

}

.div-socialmedia{
    display: flex;
    background: #151515;
   
}


.social-icons{
    background-color: #151515;
    border: none;
}
 @media(min-width: 768px ){

    header{
        display: flex;
       
    } 

   .img-hero{
    display: none;
   }

   .hero-tab{
    display: block;
   }
    
.grid-1{
    display: none;
}

.grid1-tab{
    display: block;
    width: 398pxpx;
}

.grid-2{
    display: none;
}

.grid2-tab{
    display: block;
    
}

.grid-3{
    display: none;
}

.grid3-tab{
    display: block;
    object-fit: cover;
    height: 313px;
    width: 444x;
    
}

   .modern-h1{
    max-width: 339px;
    position: absolute;
    top: 144px;
    left: 370px;
    font-size: 70px;
    line-height: 65px;
    
   }

   .header-p{
    position: absolute;
    top: 323px;
    left: 370px;
    padding-top: 48px;
    font-size: 18px;
    line-height: 28px;
   }

.location-div{
    position: absolute;
    top: 483px;
    left: 389px;
    padding-top: 48px;
}
    
.header-button{
    width: 204px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section{
    display: flex;
    max-width: 768px;
}


.top-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 120px;
}

.your-div{
    display: flex;
    flex-direction: column;
    
}

.your-h2{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 197px;
   margin: 0;
}

.wander-p{
  width: 300px;
  margin: 0;
  
}

.middle-div{
    display: flex;
    margin-top: 11px;
    gap: 11px;
    justify-content: flex-end;
    
}

.lower-right{
   display: flex;
   flex-direction: column;
}

.div-come{
    max-width: 280px;
    margin-top: 11px;
    margin: inherit;
    height: 398px;
    margin: 0;
    margin-top: 16px;
}

.come-p{
    font-size: 18px;
    line-height: 28px;
}

.footer-container{
    margin-top: 166px;
}

.footer-container{
    flex-direction: row;
}

 .logo-light{
    flex-direction: row;
    height: 40px; 
}

}

@media(min-width: 1439px){
   
.hero-tab{
    display: none;
}    

.hero-des{
    display: block;}

.black-div{
    display: block;
    background-color: #151515;
    width: 449px;
    height: 799px;
}

.two-div{
    display: flex;
}
}

@media(min-width: 1439px){

.location-div{
    left: 900px;
    top: 370px;
}  

.header-p{
    left: 900px;
    top: 190px;
}

.footer-container{
    justify-content: space-around;
}

.modern-h1{
    top: 190px;
    left: 225px;
    background-image:
    linear-gradient(90deg,white 210px,black 50% );
    -webkit-background-clip: text ;
    color: transparent;
 
}

}